{% extends "back.html.twig" %}
{% block content %}

    <center>

        <h1>Modifier une categorie</h1>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        {{ form(form) }}

    </center>
    <style>
        h1 {
            background: linear-gradient(to right, #36ecde, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>

{% endblock %}
